body{
  font-family: "Open Sans", sans-serif;
  color:#324255;
  font-size:18px;
  background-image: url("media/images/background.jpg");
}

.navbar-custom{
  background-color: #687a8f;
}


li::marker {
  color:#F7882F;
}

ul {
  list-style-position: inside
}

.apricot{
  color:#F7882F;
  font-family:"Pompiere";
  font-size:45px;
  text-align: center;
}

.applesauce-border{
  color:#687a8f;
  font-family:"Pompiere";
  font-size:30px;
  background-color:#DCC7AA;
  border-radius:20px;
  text-align: center;
 }

.mission{
  font-family: "Open Sans";
  border-radius: 20px;
  text-align: justify;
  font-size: 18px;
  border:50px;
}

.padding{
  padding:30px;

}
.about{
  margin-top:20px;
  background-color: #BBB;
  border-radius:20px;
  font-family: "Open Sans";
  font-size: 50px;
}

.text{
  font-family: "Open Sans";
  font-size: 18px;
  text-align: justify;
}

.list{
  font-family: "Open Sans";
  color:#324255;
  font-size:20px;

}
.nav-link{
  font-family: "Pompiere";
  font-size: 27px;
  color:#F7882F;
}

.calendar{
    
}

.thankyou{
  font-style: italic;
  text-align: center;
  padding-top: 20px;
}

.twitter-timeline{
  background-color: #324255;
  border-radius: 20px;
  display: inline-block;
  padding: 6px 12px 6px 30px;
  margin: 10px 0;
  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url("") 8px 8px no-repeat;
  background-size: 1em 1em;
}

.thankyouinner{
background-color:#DCC7AA;
border-radius: 20px;
}


.portrait {
  max-width: 50%;
  max-height: 90%;
}


.hidden {
  display: none;
}


.card{
  background-color:#d2d2d2;
  border-radius:10px;
  border-color:#d2d2d2;
  
}

.twitter{
  padding-bottom: 20px;
  border-radius:20px;
  align-items: center;
}

.facebook{
  padding-bottom: 20px;
  border-radius: 30px;
  align-items: center;
 
}

.blueberry{
  color:#687a8f;
  font-family:"Pompiere";
  font-size:30px;
  background-color:#DCC7AA;
  border-radius:20px;
 
}

.social-icon-container {
  text-align: center;
  border-radius: 50%;
  border: 2px solid #000;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  line-height: 40px; /* Adjust size as needed */
  }
  .social-icon-container svg {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  vertical-align: middle;
  }

  .apricot-smaller{
    color:#F7882F;
    font-family:"Pompiere";
    font-size:30px;
    text-align: center;
  }
  .lemon{
    color:#f9c32d;
    font-family:"Pompiere";
    font-size:45px;
    text-align: center;
  }
  .lemon-smaller{
    color:#f9c32d;
    font-family:"Pompiere";
    font-size:30px;
    text-align: center;
  }

  .apricot-btn{
    background-color: #F7882F; 
    color: white;
  }


  

